.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 85%;
    margin: 0 auto;
} 

.card-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
}