.right-container-gp{    
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 30%;
}

.gatepass-container{
    width: 90%;
}
.gatepass-container:last-child{
    margin-bottom: 1rem;
}
.approved, .stalled, .rejected{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
}

.approved{
    color: rgb(6, 154, 6);
}
.stalled{
    color: gray;
}
.rejected{
    color: rgb(219, 14, 14);
}