.main-container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #f3f3f3;
}

.navbar{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;   
    align-items: center; 
    background-color: #428bca;
    box-shadow: 2px 2px 10px grey;
    padding: 0 1rem;
}
.navbar img{
    width: 10%;
    margin: 1rem 0;
}
.navbar h1{
    margin: 0;
    color: white;
    font-weight: 600;
    font-variant-caps: small-caps;
    font-family: serif;
    padding: 0.5rem;
    font-size: 2.5rem;
    text-align: center;
}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

.container-head{
    text-align: center;
    background-color: #428bca;
    padding: 0.75rem;
    color: white;
    font-size: 1.3rem;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
}

.container-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.input-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.8rem;
    background: lightgray;
    border-radius: 2px;
    border: 0.5px solid darkgray;
}

.input-field svg{
    fill: #7f7f7f;
}
.input-field > span{
    padding: 0 5px;
}

input{
    padding: 5px 10px;    
    border: none;
    border-left: 1.5px solid darkgray;
}

#sign-in{
    margin-top: 1em;
    background-color: #428bca;
    color: white;
    border-radius: 2px;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
}

#back-home{
    margin-top: 1rem;
    color: #428bca;
    font-style: italic;
    align-self: flex-end;
    font-weight: 500;
}


@media (max-width: 1199px){
    .container{
        width: 40%;
    }
}
@media (max-width: 991px){
    .container{
        width: 50%;
    }
}
@media (max-width: 767px){
    .container{
        width: 65%;
    }
    .navbar img{
        width: 20%;
    }
    .navbar h1{
        font-size: 1.75rem;
    }
}
@media (max-width: 567px) {
    .container{
        width: 90%;
    }
}
@media only screen and (orientation: landscape) and (max-width: 991px) {
    .main-container{
        height: fit-content;
    }
}